<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>수강 과목 목록</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/courseList.css">
</head>
<body>
{{> layouts/header }}
<div class="container">
    {{> layouts/navStudent }}

    <div class="main-content">
        <div class="page-header">
            <h2 class="page-title">수강 과목 목록</h2>
        </div>

        <table>
            <thead>
                <tr>
                    <th>과목명</th>
                    <th>교수명</th>
                    <th>요일</th>
                    <th>시간</th>
                    <th>강의실</th>
                </tr>
            </thead>
            <tbody>
                {{#courses}}
                <tr>
                    <td>
                        <a href="/student/courseOne/{{courseNo}}" class="course-link">
                            {{courseName}}
                        </a>
                    </td>
                    <td>{{empName}}</td>

                    <!-- 요일 -->
                    <td>
                        {{#courseTimes}}
                            {{coursedate}}<br>
                        {{/courseTimes}}
                    </td>

                    <!-- 시간 -->
                    <td>
                        {{#courseTimes}}
                            {{courseTimeStart}}~{{courseTimeEnd}}<br>
                        {{/courseTimes}}
                    </td>

                    <!-- 강의실 -->
                    <td>
                        {{#courseTimes}}
                            {{courseLocation}}<br>
                        {{/courseTimes}}
                    </td>
                </tr>
                {{/courses}}
            </tbody>
        </table>
    </div>
</div>
{{> layouts/footer }}
</body>
</html>
