<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>학생 시간표</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/studentSchedule.css">
</head>
<body>
{{> layouts/header }}
<div class="container">
    {{> layouts/navStudent }}

    <div class="main-content">
        <h2 class="page-title">학생 시간표</h2>

        <table>
            <thead>
                <tr>
                    <th>교시</th>
                    <th>월</th>
                    <th>화</th>
                    <th>수</th>
                    <th>목</th>
                    <th>금</th>
                </tr>
            </thead>
            <tbody>
                {{#timetable}}
   				 <tr>
               		<td>{{period}}</td>
                    <td>
	                    {{#mon}}
	                    <div>{{.}}</div>
	                    {{/mon}}
	                </td>
	                <td>
					    {{#tue}}
					    <div>{{.}}</div>
					    {{/tue}}
					</td>
					<td>
					    {{#wed}}
					    <div>{{.}}</div>
					    {{/wed}}
					</td>
					<td>
					    {{#thu}}
					    <div>{{.}}</div>
					    {{/thu}}
					</td>
					<td>
					    {{#fri}}
					    <div>{{.}}</div>
					    {{/fri}}
					</td>
                 </tr>
                {{/timetable}}
            </tbody>
        </table>
    </div>
</div>
{{> layouts/footer }}
</body>
</html>
