<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lms.mapper.EmpMapper">
	<!-- 공지사항 추가 -->
	<insert id="insertNotice" useGeneratedKeys="true" keyProperty="noticeNo" parameterType="com.example.lms.dto.Notice">
		INSERT INTO notice (emp_no, notice_writer, notice_title, notice_contents)
		VALUES (#{empNo}, #{noticeWriter}, #{noticeTitle}, #{noticeContents})
	</insert>
	
	<!-- 공지사항 수정 -->
	<update id="updateNotice" parameterType="com.example.lms.dto.Notice">
		UPDATE notice SET notice_title = #{noticeTitle}, notice_contents = #{noticeContents}
		WHERE notice_no = #{noticeNo}
	</update>
	
	<!-- 공지사항 삭제 -->
	<delete id="deleteNotice" parameterType="int">
		DELETE FROM notice WHERE notice_no = #{noticeNo}
	</delete>
	
	<!-- 공지사항 파일 추가 -->
	<insert id="insertNoticeFile" parameterType="com.example.lms.dto.NoticeFile">
		INSERT INTO notice_file (notice_no, file_name, origin_name, file_size, file_type)
		VALUES (#{noticeNo}, #{fileName}, #{originName}, #{fileSize}, #{fileType})
	</insert>
	
	<!-- 공지사항 파일 삭제 -->
	<delete id="deleteNoticeFile" parameterType="com.example.lms.dto.NoticeFile">
		DELETE FROM notice_file WHERE file_no = #{fileNo}
	</delete>
	<delete id="deleteNoticeFileByNoticeNo" parameterType="int">
		DELETE FROM notice_file WHERE notice_no = #{noticeNo}
	</delete>
	
	<!-- 학과 목록 불러오기 -->
	<select id="selectDeptList" resultType="com.example.lms.dto.Dept">
		SELECT dept_no deptNo, dept_name deptName FROM dept
	</select>
	<!-- 교수 추가 -->
	<insert id="insertProfessor">
		INSERT INTO emp (emp_name, emp_email, emp_pw, dept_no, emp_role)
		VALUES (#{empName}, #{empEmail}, #{empPw}, #{deptNo}, #{empRole})
	</insert>
	<!-- 교수 리스트 -->
	<select id="selectProfessorList" parameterType="com.example.lms.dto.SearchList" resultType="com.example.lms.dto.ProfessorInfo">
		SELECT e.emp_no prfNo, e.emp_name prfName, e.dept_no deptNo, IFNULL(d.dept_name, '미배정') deptName, e.emp_email prfEmail, IFNULL(e.emp_phone, ' ') prfPhone
		FROM emp e LEFT OUTER JOIN (SELECT dept_no, dept_name FROM dept) d ON e.dept_no = d.dept_no
		WHERE e.emp_role = 2
		<if test="searchWord != null and searchWord.trim() != ''">
			AND e.emp_name LIKE CONCAT('%', #{searchWord}, '%')
		</if>
		<if test="searchCategory != null and searchCategory.trim() != ''">
			AND e.dept_no = #{searchCategory}
		</if>
		ORDER BY e.emp_no DESC LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<select id="countProfessor" parameterType="com.example.lms.dto.SearchList" resultType="int">
		SELECT COUNT(e.emp_no)
		FROM emp e LEFT OUTER JOIN (SELECT dept_no, dept_name FROM dept) d ON e.dept_no = d.dept_no
		WHERE e.emp_role = 2
		<if test="searchWord != null and searchWord.trim() != ''">
			AND e.emp_name LIKE CONCAT('%', #{searchWord}, '%')
		</if>
		<if test="searchCategory != null and searchCategory.trim() != ''">
			AND e.dept_no = #{searchCategory}
		</if>
	</select>
	
	<!-- 교수 정보 -->
	<select id="selectProfessor" parameterType="int" resultType="com.example.lms.dto.ProfessorInfo">
		SELECT e.emp_no prfNo, e.emp_name prfName, e.dept_no deptNo, IFNULL(d.dept_name, '미배정') deptName, e.emp_email prfEmail
				, e.emp_phone prfPhone, e.emp_birth prfBirth
				, e.emp_img prfImg
		FROM emp e LEFT OUTER JOIN (SELECT dept_no, dept_name FROM dept) d ON e.dept_no = d.dept_no
		WHERE e.emp_no = #{prfNo}
	</select>
	
	<!-- 교수정보 수정 -->
	<update id="updateProfessor" parameterType="com.example.lms.dto.ProfessorInfo">
		UPDATE emp
	    SET  emp_name = #{prfName}, emp_email = #{prfEmail}, dept_no = #{deptNo}, emp_phone = #{prfPhone}
	    	, emp_birth = #{prfBirth}, emp_img = #{prfImg}
	    WHERE emp_no = #{prfNo}
	</update>
	
	<!-- 교수정보 삭제 -->
	<delete id="deleteProfessor" parameterType="int">
		DELETE FROM emp WHERE emp_no = #{prfNo}
	</delete>
	
	<!-- 학생 추가 -->
	<insert id="insertStudent" parameterType="com.example.lms.dto.Student">
		INSERT INTO student (student_no, dept_no, student_pw, student_name, student_state) 
		VALUES (#{studentNo}, #{deptNo}, #{studentPw}, #{studentName}, #{studentState})
	</insert>
	<select id="checkStudentNo" parameterType="int" resultType="int">
		SELECT COUNT(student_no) FROM student WHERE student_no = #{studentNo}
	</select>
	<select id="checkDeptNo" parameterType="int" resultType="int">
		SELECT COUNT(dept_no) FROM dept WHERE dept_no = #{deptNo}
	</select>
	<select id="selectMaxStdNo" parameterType="String" resultType="int">
		SELECT MAX(student_no) FROM student WHERE student_no LIKE #{n}
	</select>
	
	<!-- 학생 리스트 -->
	<select id="selectStudentList" parameterType="com.example.lms.dto.SearchList" resultType="com.example.lms.dto.Student">
		SELECT s.student_no studentNo, s.student_name studentName, s.dept_no deptNo, IFNULL(d.dept_name, '') deptName, s.student_email studentEmail
		, IFNULL(s.student_phone, '') studentPhone, s.student_state studentState
		FROM student s LEFT OUTER JOIN (SELECT dept_no, dept_name FROM dept) d ON s.dept_no = d.dept_no
		<where>
			<if test="searchWord != null and searchWord.trim() != ''">
				AND s.student_name LIKE CONCAT('%', #{searchWord}, '%')
			</if>
			<if test="searchCategory != null and searchCategory.trim() != ''">
				AND s.dept_no = #{searchCategory}
			</if>
		</where>
		ORDER BY s.student_no ASC LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<select id="countStudent" parameterType="com.example.lms.dto.SearchList" resultType="int">
		SELECT COUNT(s.student_no)
		FROM student s LEFT OUTER JOIN (SELECT dept_no, dept_name FROM dept) d ON s.dept_no = d.dept_no
		<where>
			<if test="searchWord != null and searchWord.trim() != ''">
				AND s.student_name LIKE CONCAT('%', #{searchWord}, '%')
			</if>
			<if test="searchCategory != null and searchCategory.trim() != ''">
				AND s.dept_no = #{searchCategory}
			</if>
		</where>
	</select>

	<!-- 학생 정보 -->
	<select id="selectStudent" parameterType="int" resultType="com.example.lms.dto.Student">
		SELECT s.student_no StudentNo, s.student_name StudentName, s.dept_no deptNo, d.dept_name deptName, s.student_email StudentEmail
				, s.student_phone StudentPhone, s.student_birth StudentBirth, s.student_state studentState
				, s.student_img StudentImg
		FROM student s LEFT OUTER JOIN (SELECT dept_no, dept_name FROM dept) d ON s.dept_no = d.dept_no
		WHERE s.student_no = #{StudentNo}
	</select>
	
	<!-- 학생 정보 수정 -->
	<update id="updateStudent" parameterType="com.example.lms.dto.Student">
		UPDATE student
	    SET  student_name = #{studentName}, student_email = #{studentEmail}, dept_no = #{deptNo}, student_phone = #{studentPhone}
	    	, student_birth = #{studentBirth}, student_img = #{studentImg}, student_state = #{studentState}
	    WHERE student_no = #{studentNo}
	</update>
</mapper>