<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lms.mapper.ProfessorMapper">
	
	<!-- 과제 점수 등록 -->
	<update id="addResultScore" parameterType="com.example.lms.dto.ProjectResult">
		update project_result 
		set 
			result_score = #{resultScore}
		where result_no = #{resultNo}		 
	</update>
	
	<!-- 결과물 상세보기 -->
	<select id="projectResultOne" parameterType="int" resultType="com.example.lms.dto.ProjectResult">
		select
			pr.result_no resultNo,
			pr.project_no projectNo,
			pr.student_no studentNo,
			s.student_name studentName,
			pr.result_title resultTitle,
			pr.result_contents resultContents,
			pr.result_file resultFile,
			pr.result_score resultScore,
			pr.createdate
		from project_result pr
		left join student s
		on pr.student_no = s.student_no
		where pr.result_no = #{resultNo}	
	</select>
	
	<!-- 과제 결과물 목록 -->
	<select id="projectResultList" parameterType="int" resultType="com.example.lms.dto.ProjectResult">
		select
			result_no resultNo,
			project_no projectNo,
			student_no studentNo,
			result_title resultTitle,
			result_score resultScore,
			createdate
		from project_result
		where project_no = #{projectNo}
		order by createdate desc		
	</select>
	
	<!-- 과제삭제 -->
	<delete id="deleteProjectIfNoResults" parameterType="int">
		DELETE FROM project WHERE project_no = #{projectNo}
	</delete>

	<!-- 과제 결과물 개수 확인 -->
	<select id="countProjectResults" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM project_result WHERE project_no = #{projectNo}
	</select>
	
	<!-- 과제등록 -->
	<insert id="addProject">
		insert into project(course_no, project_name, emp_no, project_deadline)
		values(#{courseNo}, #{projectName}, #{empNo}, #{projectDeadline})
	</insert>
	
	<!-- 과제목록 -->
	<select id="projectListByPage" parameterType="map" resultType="com.example.lms.dto.Project">
		select 
			p.project_no projectNo,
			p.course_no courseNo,
			c.course_name courseName,
			p.project_name projectName,
			p.emp_no empNo,
			p.project_deadline projectDeadline
		from project p 
		inner join course c
		on p.course_no = c.course_no
		where p.emp_no = #{empNo}
		order by p.project_no desc
		limit #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="getProjectCount" parameterType="map" resultType="int">
		select count(*)
		from project
		where emp_no = #{empNo}
	</select>
	
	<!-- 출석수정 -->
	<update id="updateHistory" parameterType="com.example.lms.dto.AttendanceHistory">
		UPDATE attendance_history
	    SET
	        state_after = #{stateAfter},
	        history_comment = #{historyComment},
	        history_file = #{historyFile},
	        history_file_original = #{historyFileOriginal}
	    WHERE history_no = #{historyNo};
	</update>
	
	<update id="updateAttendanceFromUpdateHistory" parameterType="com.example.lms.dto.AttendanceHistory">
	    UPDATE attendance
	    SET
	        att_state= #{stateAfter}
	    WHERE att_no = #{attNo};
	</update>
	
	<select id="getHistoryByHN" parameterType="int" resultType="com.example.lms.dto.AttendanceHistory">
		SELECT
		  	history_no historyNo,
	        att_no attNo,
	        course_no courseNo,
	        state_before stateBefore,
	        COALESCE(state_after, '') stateAfter,
	        COALESCE(history_comment, '') historyComment,
	       	history_file historyFile,
	        createdate
		FROM attendance_history
		WHERE history_no = #{historyNo}
	</select>
	
	<!-- 출석내역목록 -->
	<select id="attendanceHistoryList" parameterType="map" resultType="com.example.lms.dto.AttendanceHistory">
		SELECT
		  	history_no historyNo,
	        att_no attNo,
	        course_no courseNo,
	        state_before stateBefore,
	        COALESCE(state_after, '') stateAfter,
	        COALESCE(history_comment, '') historyComment,
	       	history_file historyFile,
	       	history_file_original historyFileOriginal,
	        createdate
		FROM attendance_history
		<where>
	        <if test="attNo != null">
	            att_no = #{attNo}
	        </if>
	    </where>
		order by att_no desc
		limit #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="getHistoryCount" parameterType="map" resultType="int">
		select count(*)
		from attendance_history
		<where>
	        <if test="attNo != null">
	            att_no = #{attNo}
	        </if>
	    </where>
	</select>
	
	<!-- 출석체크 -->
	<insert id="insertAttendance" parameterType="com.example.lms.dto.Attendance" useGeneratedKeys="true" keyProperty="attNo">
		INSERT INTO attendance(student_no, course_no, emp_no, att_date, att_state)
		VALUES (#{studentNo}, #{courseNo}, #{empNo}, SYSDATE(), #{attState});
	</insert>	
	
	<insert id="insertHistoryFromAddAttendance" parameterType="com.example.lms.dto.Attendance">
	    INSERT INTO attendance_history(att_no, course_no, state_before)
	    VALUES (#{attNo}, #{courseNo}, #{attState})  
	</insert>
	
	<!-- 출석체크(학생리스트) -->
	<select id="getStudentListByCourse" parameterType="int" resultType="com.example.lms.dto.CourseStudent">
	    SELECT 
	        cs.course_no courseNo,
	        s.student_no studentNo,
	        s.student_name studentName,
	        s.student_email studentEmail,
	        s.student_phone studentPhone,
	        s.student_state studentState,
	        s.student_img studentImg
	    FROM student s
	    JOIN course_student cs ON s.student_no = cs.student_no
	    WHERE cs.course_no = #{courseNo}
	    ORDER BY s.student_name ASC
	</select>
	<!-- 총 출결상태 -->	
	<select id="getAttendanceSummaryByCourse" parameterType="int" resultType="com.example.lms.dto.AttendanceSummary">
	    SELECT 
	        cs.student_no studentNo,
	        COUNT(a.att_no) total,                     
	        SUM(CASE WHEN a.att_state = '결석' THEN 1 ELSE 0 END) absent,
	        SUM(CASE WHEN a.att_state = '지각' THEN 1 ELSE 0 END) late,
	        SUM(CASE WHEN a.att_state = '조퇴' THEN 1 ELSE 0 END) early
	    FROM course_student cs
	    LEFT JOIN attendance a 
	    ON cs.student_no = a.student_no AND cs.course_no = a.course_no
	    WHERE cs.course_no = #{courseNo}
	    GROUP BY cs.student_no
	</select>		
			
	<!-- 출석체크(강의목록) -->	
	<select id="getCourseAttandance" parameterType="map" resultType="com.example.lms.dto.Course">
		select
			course_no courseNo, course_name courseName, dept_no deptNo,
			emp_no empNo, max_cnt maxCnt, current_cnt currentCnt,
			course_period coursePeriod, course_plan coursePlan 
		from course
		where emp_no = #{empNo}
	</select>
	
	<!-- 학생리스트 -->
	<select id="studentListByPage" parameterType="map" resultType="com.example.lms.dto.Student">
		SELECT
		    s.student_no studentNo,
		    s.dept_no deptNo,
		    d.dept_name deptName,
		    s.student_pw studentPw,
		    s.student_name studentName,
		    s.student_state studentState,
		    s.student_address studentAddress,
		    s.student_phone studentPhone,
		    s.student_birth studentBirth,
		    s.student_img studentImg,
		    s.student_email studentEmail
		FROM student s
		JOIN dept d ON s.dept_no = d.dept_no
		where s.dept_no = #{deptNo}
			<if test="searchWord != null and searchWord != ''">
			 and student_name like concat('%', #{searchWord},'%')
			</if>
		order by s.student_name asc
		limit #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="getStudentCount" parameterType="Map" resultType="int">
		select count(*)
		from student
		<where>
			<if test="searchWord != null and searchWord != ''">
				student_name like concat('%', #{searchWord},'%')
			</if>
		</where>
	</select>
	
	<!-- 강의 삭제 -->
	<delete id="deleteCourse" parameterType="int">
	    DELETE FROM course
	    WHERE course_no = #{courseNo};
	</delete>

	<delete id="deleteCourseTime" parameterType="int">
	    DELETE FROM course_time
	    WHERE course_no = #{courseNo};
	</delete>
	
	<!-- 강의 수정 -->
	<update id="updateCourse" parameterType="com.example.lms.dto.Course">
	    UPDATE course
	    SET
	        course_name = #{courseName},
	        max_cnt = #{maxCnt},
	        course_period = #{coursePeriod},
	        course_plan = #{coursePlan}
	    WHERE course_no = #{courseNo};
	</update>	
	
	<select id="getCourseTime" parameterType="int" resultType="com.example.lms.dto.CourseTime">
		SELECT
	        course_time_no courseTimeNo, course_no courseNo,
	        course_location courseLocation, course_date coursedate, 
	        course_time_start courseTimeStart, course_time_end courseTimeEnd
	    FROM course_time
	    WHERE course_no = #{courseNo};
	</select> 
	
	<update id="updateCourseTime" parameterType="com.example.lms.dto.CourseTime">
	    UPDATE course_time
	    SET
	        course_location = #{courseLocation},
	        course_date = #{coursedate},
	        course_time_start = #{courseTimeStart},
	        course_time_end = #{courseTimeEnd}
	    WHERE course_no = #{courseNo};
	</update>	
	
	<!-- 강의 상세보기 -->
	<select id="courseOne" parameterType="int" resultType="com.example.lms.dto.Course">
		SELECT
	        course_no courseNo, course_name courseName, dept_no deptNo,
	        emp_no empNo, max_cnt maxCnt, current_cnt currentCnt,
	        course_period coursePeriod, course_plan coursePlan
	    FROM course
	    WHERE course_no = #{courseNo};
	</select>
	
	<select id="getCourseTimeList" parameterType="int" resultType="com.example.lms.dto.CourseTime">
		SELECT
	        course_time_no courseTimeNo, course_no courseNo,
	        course_location courseLocation, course_date coursedate, 
	        course_time_start courseTimeStart, course_time_end courseTimeEnd
	    FROM course_time
	    WHERE course_no = #{courseNo};
	</select> 
		
	<!-- 강의등록 -->
	<insert id="insertCourse" parameterType="com.example.lms.dto.Course" useGeneratedKeys="true" keyProperty="courseNo">
		insert into course
			(course_name, dept_no, emp_no, max_cnt, current_cnt, course_period, course_plan)
		values
			(#{courseName}, #{deptNo}, #{empNo}, #{maxCnt}, 0, #{coursePeriod}, #{coursePlan})
	</insert>

	<insert id="insertCourseTime" parameterType="com.example.lms.dto.CourseTime">
		insert into course_time
			(course_no, course_location, course_date, course_time_start, course_time_end)
		values
			(#{courseNo}, #{courseLocation}, #{coursedate}, #{courseTimeStart}, #{courseTimeEnd})
	</insert>
	
	<!-- 강의리스트 -->	
	<select id="courseListByPage" parameterType="map" resultType="com.example.lms.dto.Course">
		select
			course_no courseNo, course_name courseName, dept_no deptNo,
			emp_no empNo, max_cnt maxCnt, current_cnt currentCnt,
			course_period coursePeriod, course_plan coursePlan 
		from course
		where emp_no = #{empNo}
			<if test="searchWord != null and searchWord != ''">
			 and course_name like concat('%', #{searchWord},'%')
			</if>
		order by course_no desc
		limit #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="getCourseCount" parameterType="Map" resultType="int">
		select count(*)
		from course
		<where>
			<if test="searchWord != null and searchWord != ''">
				course_name like concat('%', #{searchWord},'%')
			</if>
		</where>
	</select>
	
	<!-- 내 정보 수정 -->
	<update id="updateProfessorInfo" parameterType="com.example.lms.dto.Emp">
		update emp
		set dept_no = #{deptNo},
			emp_pw = #{empPw},
			emp_name = #{empName},
			emp_birth = #{empBirth},
			emp_phone = #{empPhone},
			emp_img = #{empImg}		
		where emp_No = #{empNo}
	</update> 
	
	<!-- 내 정보 -->
	<select id="professorInfo" parameterType="int" resultType="com.example.lms.dto.Emp">
		select 
			emp_no empNo, dept_no deptNo,
			emp_name empName, emp_email empEmail, emp_pw empPw,
			emp_birth empBirth, emp_phone empPhone, emp_img empImg 
		from emp
		where emp_no = #{empNo}
	</select>

	<!-- 교수 시간표(홈 화면) -->
	<select id="selectAllCourseTimes" parameterType="int" resultType="com.example.lms.dto.CourseTime">
	    SELECT 
	        ct.course_time_no courseTimeNo,
	        c.course_name courseName,
	        ct.course_location courseLocation,
	        ct.course_date coursedate,
	        ct.course_time_start courseTimeStart,
	        ct.course_time_end courseTimeEnd
	    FROM course_time ct
	    JOIN course c ON ct.course_no = c.course_no
	    WHERE c.emp_no = #{empNo}
	    ORDER BY ct.course_time_start
	</select>
	
	<!-- 전체 학사 일정 -->
	<select id="getAcademicSchedule" resultType="map">
	    SELECT 
	    	schedule_no schedulNo,
	    	schedule_writer scheduleWriter,
	    	schedule_title scheduleTitle,
	    	schedule_contents scheduleContents,
	    	schedule_date scheduleDate
	    FROM schedule 
	</select>

</mapper>