<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lms.mapper.PublicMapper">
	<!-- 학생로그인 -->
	<select id="selectLoginStudent" parameterType="com.example.lms.dto.LoginUser" resultType="com.example.lms.dto.Student">
		    select 
		        student_no AS studentNo,
		        dept_no AS deptNo,
		        student_name AS studentName,
		        student_img AS studentImg,
		        student_state AS studentState
		    from student 
		    where student_no = CAST(#{userId} AS UNSIGNED)
		      and student_pw = #{userPw}
	</select>
	<!-- 교수로그인 -->
	<select id="selectLoginProfessor" parameterType="com.example.lms.dto.LoginUser" resultType="com.example.lms.dto.Emp">
		SELECT emp_no empNo, emp_email empEmail, emp_name empName, dept_no deptNo, emp_img empImg
		FROM emp 
		WHERE emp_role= 2 AND emp_email = #{userId} AND emp_pw = #{userPw}
	</select>
	<!-- 교직원로그인 -->
	<select id="selectLoginEmp" parameterType="com.example.lms.dto.LoginUser" resultType="com.example.lms.dto.Emp">
		SELECT emp_no empNo, emp_email empEmail, emp_name empName, emp_img empImg
		FROM emp 
		WHERE emp_role= 1 AND emp_email = #{userId} AND emp_pw = #{userPw}
	</select>
	
	<!-- 공지사항 리스트 -->
	<select id="selectNoticeList" parameterType="com.example.lms.dto.SearchList" resultType="com.example.lms.dto.Notice">
		SELECT notice_no noticeNo, notice_writer noticeWriter, notice_title noticeTitle, DATE_FORMAT(createdate, '%Y.%m.%d') createdate
		FROM notice
		<where>
			<if test="searchWord != null and searchWord.trim() != ''">
				notice_title LIKE CONCAT('%', #{searchWord}, '%')
				OR notice_contents LIKE CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
		ORDER BY createdate DESC LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<select id="countNotice" parameterType="String" resultType="int">
		SELECT COUNT(notice_no)
		FROM notice
		<where>
			<if test="searchWord != null and searchWord.trim() != ''">
				notice_title LIKE CONCAT('%', #{searchWord}, '%')
				OR notice_contents LIKE CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
	</select>
	
	<!-- 공지사항 상세 -->
	<select id="selectNoticeOne" parameterType="int" resultType="com.example.lms.dto.Notice">
		SELECT notice_no noticeNo, notice_writer noticeWriter, notice_title noticeTitle, notice_contents noticeContents, DATE_FORMAT(createdate, '%Y.%m.%d') createdate
		FROM notice WHERE notice_no = #{noticeNo}
	</select>
	<select id="selectNoticeFile" parameterType="int" resultType="com.example.lms.dto.NoticeFile">
		SELECT file_no fileNo, notice_no noticeNo, origin_name originName, file_name fileName, file_size fileSize, file_type fileType
		FROM notice_file WHERE notice_no = #{noticeNo}
	</select>
	<select id="selectNoticeFileOne" parameterType="int" resultType="com.example.lms.dto.NoticeFile">
		SELECT file_no fileNo, notice_no noticeNo, origin_name originName, file_name fileName, file_size fileSize, file_type fileType
		FROM notice_file WHERE file_no = #{fileNo}
	</select>
	
	<!-- 스케줄 상세 -->
	<select id="selectSchduleOne" parameterType="int" resultType="com.example.lms.dto.Schedule">
		SELECT schedule_no scheduleNo, schedule_writer scheduleWriter, schedule_title scheduleTitle, schedule_contents scheduleContents, schedule_date scheduleDate
		FROM schedule WHERE schedule_no = #{scheduleNo}
	</select>
	<select id="selectEmp" parameterType="int" resultType="com.example.lms.dto.Emp">
		SELECT emp_name FROM emp WHERE emp_no = #{empNo}
	</select>
	<!-- 스케줄 리스트 -->
	<select id="selectSchduleList" resultType="com.example.lms.dto.Schedule">
		SELECT schedule_no scheduleNo, schedule_title scheduleTitle, schedule_date scheduleDate
		FROM schedule
	</select>
</mapper>