<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.js"></script>

<div class="calendar-wrapper">
  <div id="scheduleCalendar"></div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', function() {
	var calendarEl = document.getElementById('scheduleCalendar');
	var calendar = new FullCalendar.Calendar(calendarEl, {
		initialView: 'dayGridMonth',
		locale: 'ko',
		headerToolbar: {
			left: 'prev,next today',
			center: 'title',
			right: 'dayGridMonth,dayGridWeek'
		},
		
		eventClick: function(info) {
			let no = info.event.id;
			location.href = "/public/scheduleOne?scheduleNo=" + no;
		}
	});
	calendar.render();
	
	// 서버에서 일정 불러오기 예
	fetch('/public/scheduleList')
		.then(res => res.json())
		.then(events => {
			calendar.removeAllEvents();
			calendar.addEventSource(events);
		})
		.catch(err => console.error('일정 로드 실패', err));
	});
</script>
