<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.js"></script>

<div id="scheduleCalendar"></div>

<script>
document.addEventListener('DOMContentLoaded', function() {

    var calendarEl = document.getElementById('scheduleCalendar');

    // 서버에서 일정 가져오기 (JSON)
    fetch('/emp/scheduleList')
        .then(resp => resp.json())
        .then(events => {

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                height: 650,
                locale: 'ko',

                events: events, // 일정 바인딩

                dateClick: function(info) {
                    if(confirm(info.dateStr + " 일정 추가하시겠습니까?")) {
                        location.href = "/emp/addSchedule?date=" + info.dateStr;
                    }
                },

                eventClick: function(info) {
                    let no = info.event.id;
                    location.href = "/emp/scheduleOne?scheduleNo=" + no;
                }
            });

            calendar.render();
        });
});
</script>
