<!-- 상단 헤더 -->
<header class="header">
    <div class="header-left">
        <div class="logo">LMS</div>
        <div class="header-text">
            <h1>한국대학교 학습관리시스템</h1>
            <p>Hankuk University Learning Management System</p>
        </div>
    </div>
  <div class="header-right">
        <div class="user-info">
            <div class="user-avatar">
                <!-- 이름 첫 글자 표시 -->
                {{#loginStudent}}{{initial}}{{/loginStudent}}
                {{#loginProfessor}}{{initial}}{{/loginProfessor}}
                {{#loginEmp}}{{initial}}{{/loginEmp}}
            </div>
            <div class="user-detail">
                <span class="user-name">
                    {{#loginStudent}}{{studentName}}{{/loginStudent}}
                    {{#loginProfessor}}{{empName}}{{/loginProfessor}}
                    {{#loginEmp}}{{empName}}{{/loginEmp}}
                </span>
                <span class="user-id">
                    {{#loginStudent}}{{studentNo}}{{/loginStudent}}
                    {{#loginProfessor}}{{empEmail}}{{/loginProfessor}}
                    {{#loginEmp}}{{empEmail}}{{/loginEmp}}
                </span>
            </div>
        </div>
        <a href="/logout" class="logout-btn">로그아웃</a>
    </div>
</header>