HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### UPLOAD (추가) ###
# upload 내부 파일과 폴더는 모두 무시
src/main/webapp/upload/*

# 하지만 .gitkeep은 추적해서 폴더 자체는 유지
!src/main/webapp/upload/.gitkeep
