<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>학습관리시스템</title>
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/addAttendance.css">
</head>
<body>
	{{ >layouts/header }}
    <div class="container">
    {{ >layouts/navProfessor }}
    <div class="main-content">
	    <h2>출석체크</h2>

        <form action="{{springMacroRequestContext.request.contextPath}}/professor/addAttendance" method="post">
        <input type="hidden" name="courseNo" value="{{courseNo}}">
                
        <table>
            <thead>
                <tr>
                    <th>학번</th>
                    <th>사진</th>
                    <th>이름</th>
                    <th>이메일</th>
                    <th>전화번호</th>
                    <th>총 출결현황</th>
                    <th>출석 상태</th>
                </tr>
            </thead>
            <tbody>
                {{#studentList}}
                <tr>
                    <td><input type="hidden" name="studentNo" value="{{studentNo}}">{{studentNo}}</td>
                    <td>
                        <img src="{{#studentImg}}/upload/{{studentImg}}{{/studentImg}}" alt="">
                    </td>
                    <td>{{studentName}}</td>
                    <td>{{studentEmail}}</td>
                    <td>{{studentPhone}}</td>
                    <td>출석일: {{attendanceSummary.total}} <br>
					    결석일: {{attendanceSummary.absent}} <br>
					    지각일: {{attendanceSummary.late}} <br>
					</td>
					<td>
                        {{#alreadyChecked}}
						    <span>오늘 체크 완료</span>
						{{/alreadyChecked}}
						{{^alreadyChecked}}
	                        <select name="attState" class="attStateSelect">
	                        	<option value="">선택</option>
	                            <option value="출석">출석</option>
	                            <option value="결석">결석</option>
	                            <option value="지각">지각</option>
                      	 	</select>
                        {{/alreadyChecked}}    
                    </td>
                </tr>
                {{/studentList}}
            </tbody>
        </table>

        <p>
            <button type="submit">출석 체크</button>
            <a href="{{springMacroRequestContext.request.contextPath}}/professor/attendance">뒤로가기</a>
        </p>
		</form>
        </div>
    </div>
    {{ >layouts/footer }}
<script>
	const form = document.querySelector('form');
	
	form.addEventListener('submit', function(e){
	    let valid = true;
	
	    document.querySelectorAll('.attStateSelect').forEach(select => {
	        if(select && select.value === ""){
	            valid = false;
	        }
	    });
	
	    if(!valid){
	        alert("출석 상태를 선택하지 않은 학생이 있습니다.");
	        e.preventDefault();
	    }
	});
</script>
</body>
</html>