<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>성적 등록</title>
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/addAttendance.css">
</head>
<body>
{{ >layouts/header }}
<div class="container">
    {{ >layouts/navProfessor }}
    <div class="main-content">
        <h2>성적 등록</h2>

        <table>
            <thead>
                <tr>
                    <th>학번</th>
                    <th>사진</th>
                    <th>이름</th>
                    <th>이메일</th>
                    <th>전화번호</th>
                    <th>총 출석</th>
					<th>결석</th>
					<th>지각</th>
					<th>조퇴</th>
                    <th>점수등록</th>
                </tr>
            </thead>
            <tbody>
                {{#studentList}}
                <tr>
                    <td>{{studentNo}}</td>
                    <td>
                        <img src="{{#studentImg}}/upload/{{studentImg}}{{/studentImg}}" alt="" width="50">
                    </td>
                    <td>{{studentName}}</td>
                    <td>{{studentEmail}}</td>
                    <td>{{studentPhone}}</td>
                    <td>{{attendanceSummary.total}}</td>
					<td>{{attendanceSummary.absent}}</td>
					<td>{{attendanceSummary.late}}</td>
					<td>{{attendanceSummary.early}}</td>
                    <td>
                        <form action="{{springMacroRequestContext.request.contextPath}}/professor/addScore" method="post">
                            <input type="hidden" name="studentNo" value="{{studentNo}}">
                            <input type="hidden" name="courseNo" value="{{courseNo}}">
                            <input type="number" name="scoreAtt" placeholder="출석" min="0" max="10" style="width:50px;">
                            <input type="number" name="scoreProject" placeholder="과제" value="" min="0" max="20" style="width:50px;">
                            <input type="number" name="scoreMid" placeholder="중간" min="0" max="35" style="width:50px;">
                            <input type="number" name="scoreFin" placeholder="기말" min="0" max="35" style="width:50px;">
                            <button type="submit">등록</button>
                        </form>
                    </td>
                </tr>
                {{/studentList}}
            </tbody>
        </table>

        <p>
            <a href="{{springMacroRequestContext.request.contextPath}}/professor/score">뒤로가기</a>
        </p>
    </div>
</div>
{{ >layouts/footer }}
</body>
</html>
