<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>성적 등록</title>
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/addAttendance.css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
{{ >layouts/header }}
<div class="container">
    {{ >layouts/navProfessor }}
    <div class="main-content">
        <h2>성적 등록</h2>

        <table>
            <thead>
                <tr>
                    <th>학번</th>
                    <th>이름</th>
                    <th>출석</th>
					<th>과제</th>
					<th>중간</th>
					<th>기말</th>
                    <th>점수등록</th>
                </tr>
            </thead>
            <tbody>
                {{#studentList}}
                <form action="{{springMacroRequestContext.request.contextPath}}/professor/addScore" method="post">
                <tr>
                    <td>{{studentNo}}</td>
                    <td>{{studentName}}</td>
                    <td>
                    	<input type="number" name="scoreAtt" placeholder="출석" value="{{scoreAtt}}" readonly min="0" max="20" style="width:50px;">
				    </td>
                    <td>
                   		<input type="number" name="scoreProject" placeholder="과제" value="{{scoreProject}}" readonly min="0" max="20" style="width:50px;">
                    </td>
                    <td>
                    	<input type="number" name="scoreMid" placeholder="중간" min="0" max="30" style="width:50px;">
                    </td>
					<td>
						<input type="number" name="scoreFin" placeholder="기말" min="0" max="30" style="width:50px;">
					</td>
			        <td>
                            <input type="hidden" name="studentNo" value="{{studentNo}}">
                            <input type="hidden" name="courseNo" value="{{courseNo}}">
                            {{#alreadySubmitted}}
			                    <span>등록 완료</span>
			                {{/alreadySubmitted}}
			                {{^alreadySubmitted}}
			                    <button type="submit">등록</button>
			                {{/alreadySubmitted}}
                    </td>
                </tr>
                </form>
                {{/studentList}}
            </tbody>
        </table>

        <p>
            <a href="{{springMacroRequestContext.request.contextPath}}/professor/courseScoreRegister">뒤로가기</a>
        </p>
    </div>
</div>
{{ >layouts/footer }}
<script>
	$(document).ready(function() {
	    // 숫자 입력 제한
	    $('input[type="number"]').on('input', function() {
	        let min = parseInt($(this).attr('min')) || 0;
	        let max = parseInt($(this).attr('max')) || 100;
	        let val = parseFloat($(this).val());
	        if (isNaN(val)) $(this).val('');
	        else if (val < min) $(this).val(min);
	        else if (val > max) $(this).val(max);
	    });
	});
</script>
</body>
</html>
