<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>학습관리시스템</title>
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/courseList.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	{{ >layouts/header }}
    <div class="container">
    {{ >layouts/navProfessor }}
    <div class="main-content">
	    <h2>출석내역목록</h2>
		
		<form action="{{springMacroRequestContext.request.contextPath}}/professor/attendanceHistoryList" method="get">
		    <input type="text" name="searchWord" value="{{searchWord}}" placeholder="출석번호 검색">
		    <button type="submit">검색</button>
		</form>
		
             
        <table>
            <thead>
                <tr>
                    <th>출석번호</th>
                    <th>강의번호</th>
                    <th>변경 전 상태</th>
                    <th>변경 후 상태</th>
                    <th>코멘트</th>
                    <th>첨부파일</th>
                    <th>등록일</th>
                    <th>수정</th>
                </tr>
            </thead>
            <tbody>
                {{#historyList}}
                <tr>
                    <td>{{attNo}}<input type="hidden" name="attNo" value="{{attNo}}"></td>
                    <td>{{courseNo}}<input type="hidden" name="courseNo" value="{{courseNo}}"></td>
                    <td>{{stateBefore}}<input type="hidden" name="stateBefore" value="{{stateBefore}}"></td>
                    <td>{{stateAfter}}</td>
                    <td>{{historyComment}}</td>
                    <td>
					    {{#historyFile}}
					        현재 파일:
					        <a href="/professor/downloadHistoryFile?fileName={{historyFile}}" target="_blank">열기</a> |
					        <a href="/professor/downloadHistoryFile?fileName={{historyFile}}" download>다운로드</a>
					    {{/historyFile}}
					    {{^historyFile}}
					        첨부파일이 없습니다.
					    {{/historyFile}}
					</td>
				    <td>{{createdate}}</td>
                    <td><a href="{{springMacroRequestContext.request.contextPath}}/professor/modifyHistory?historyNo={{historyNo}}">수정</a></td>
                </tr>
                {{/historyList}}
            </tbody>
        </table>
        <!-- 페이지네이션 -->
		<div class="pagination">
		   <!-- 이전 페이지 -->
			{{#pageInfo.prePage}}
			    <a href="{{springMacroRequestContext.request.contextPath}}/professor/{{springMacroRequestContext.request.contextPath}}/professor/attendanceHistoryList?currentPage={{pageInfo.prePage}}&searchWord={{searchWord}}">이전</a>
			{{/pageInfo.prePage}}
			
			<!-- 페이지 번호 -->
			{{#pageList}}
			    {{#isCurrent}}
			        <strong>{{page}}</strong>
			    {{/isCurrent}}
			    {{^isCurrent}}
			        <a href="{{springMacroRequestContext.request.contextPath}}/professor/{{springMacroRequestContext.request.contextPath}}/professor/attendanceHistoryList?currentPage={{page}}&searchWord={{searchWord}}">{{page}}</a>
			    {{/isCurrent}}
			{{/pageList}}
			
			<!-- 다음 페이지 -->
			{{#pageInfo.nextPage}}
			    <a href="{{springMacroRequestContext.request.contextPath}}/professor/{{springMacroRequestContext.request.contextPath}}/professor/attendanceHistoryList?currentPage={{pageInfo.nextPage}}&searchWord={{searchWord}}">다음</a>
			{{/pageInfo.nextPage}}
		</div>
        </div>
    </div>
    {{ >layouts/footer }}
    <script>
		$(document).ready(function() {
		    // 입력 시 숫자 외 제거
		    $("input[name='searchWord']").on("input", function() {
		        var val = $(this).val();
		        // 숫자만 남기기
		        val = val.replace(/[^0-9]/g, "");
		        $(this).val(val);
		    });
		
		    // 선택적으로 엔터 제출 방지 및 알림
		    $("form").on("submit", function() {
		        var val = $("input[name='searchWord']").val();
		        if(val && !/^\d+$/.test(val)) {
		            alert("숫자만 입력 가능합니다.");
		            return false; // 제출 막기
		        }
		        return true; // 숫자이면 제출 허용
		    });
		});
</script>
</body>
</html>