<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>학습관리시스템</title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/layout.css">
</head>
<body>	
	{{ >layouts/header }}
		<div class="container">
    {{ >layouts/navProfessor }}
	   <div class="main-content">
		
	             	   </div>
	   </div>
   {{ >layouts/footer }}
</body>
</html>