<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>학습관리시스템</title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/courseList.css">
</head>
<body>
	{{ >layouts/header }}
	<div class="container">
	{{ >layouts/navProfessor }}
	<div class="main-content">

		<h2>과제 결과물 리스트</h2>

		<table>
		    <thead>
		        <tr>
		            <th>제출번호</th>
		            <th>학번</th>
		            <th>과제명</th>
		            <th>제출일</th>
		            <th>점수</th>
		        </tr>
		    </thead>
		    <tbody>
		        {{#resultList}}
		        <tr>
		            <td>{{resultNo}}</td>
		            <td>{{studentNo}}</td>
		            <td><a href="{{springMacroRequestContext.request.contextPath}}/professor/projectResultOne?resultNo={{resultNo}}">{{resultTitle}}</a></td>
		            <td>{{createdate}}</td>
		            <td>
		          	 {{#resultScore}}
				        {{resultScore}}
				     {{/resultScore}}
				     {{^resultScore}}
					    -
					 {{/resultScore}}
		            </td>
		        </tr>
		        {{/resultList}}
		    </tbody>
		</table>
	</div>
	</div>
    {{ >layouts/footer }}
</body>
</html>