<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학습관리시스템</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/stylejm.css">
</head>
<body>
	<!-- include -->
	{{ >layouts/header }}
	<div class="container">
		{{#loginStudent}}
			{{ >layouts/navStudent }}
		{{/loginStudent}}
		{{#loginProfessor}}
			{{ >layouts/navProfessor }}
		{{/loginProfessor}}
		{{#loginEmp}}
			{{ >layouts/navEmp }}
		{{/loginEmp}}
		<div class="main-content">
			<div class="page-header">
				<h2 class="page-title">공지사항</h2>
			</div>
			
			<div class="notice-container">
				<form action="{{springMacroRequestContext.request.contextPath}}/public/noticeList" method="get">
				    <div class="notice-header">
				        <div class="search-box">
				            <input type="text" name="searchWord" class="search-input" placeholder="검색어를 입력하세요" value="{{searchWord}}">
				            <button type="submit" class="search-btn">검색</button>
				        </div>
				    </div>
				</form>
			
			    <table class="table">
			        <thead>
			            <tr>
			                <th class="col-num">번호</th>
			                <th>제목</th>
			                <th class="col100">작성자</th>
			                <th class="col100">등록일</th>
			            </tr>
			        </thead>
			        <tbody>
			        {{#noticeList}}
						<tr>
							<td class="col-num">{{notice.noticeNo}}</td>
							<td>
								<a href="{{springMacroRequestContext.request.contextPath}}/public/noticeOne?noticeNo={{notice.noticeNo}}" class="notice-title">{{notice.noticeTitle}}</a>
								{{#isNew}}
									<span class="badge badge-new">NEW</span>
								{{/isNew}}
							</td>
							<td class="col100">{{notice.noticeWriter}}</td>
							<td class="col100">{{notice.createdate}}</td>
						</tr>
			        {{/noticeList}}
			        </tbody>
			    </table>
			    {{#loginEmp}}
				    <div class="btn-box">
				    	<a href="{{springMacroRequestContext.request.contextPath}}/emp/addNotice" class="add-btn">추가</a>
				    </div>
			    {{/loginEmp}}
			    <div class="pagination">
					{{#prePage}}
						 <a href="{{springMacroRequestContext.request.contextPath}}/public/noticeList?currentPage={{prePage}}&searchWord={{searchWord}}" class="page-btn">이전</a>
					{{/prePage}}
					
					{{#pageList}}
						<a href="{{springMacroRequestContext.request.contextPath}}/public/noticeList?currentPage={{pageNo}}&searchWord={{searchWord}}" class="page-btn {{#active}}active{{/active}}">
					  	  {{pageNo}}
						</a>
					{{/pageList}}
					
					{{#nextPage}}
						<a href="{{springMacroRequestContext.request.contextPath}}/public/noticeList?currentPage={{nextPage}}&searchWord={{searchWord}}" class="page-btn">다음</a>
					{{/nextPage}}
				</div>

			</div>
		</div>
	</div>
	{{ >layouts/footer }}
</body>