<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>학습관리시스템 - 학사일정 상세</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/stylejm.css">
</head>
<body>
	<!-- include -->
	{{>layouts/header}}
	<div class="container">
		{{#loginStudent}}
			{{ >layouts/navStudent }}
		{{/loginStudent}}
		{{#loginProfessor}}
			{{ >layouts/navProfessor }}
		{{/loginProfessor}}
		{{#loginEmp}}
			{{ >layouts/navEmp }}
		{{/loginEmp}}
		<div class="main-content">
			<div class="page-header">
				<h2 class="page-title">학사일정</h2>
			</div>

			<div class="professor-detail-container">
				<div class="professor-detail-header">
					<h3 class="section-title">일정 정보</h3>
				</div>
				{{ >layouts/calendar }}
			</div>
		</div>
	</div>
	{{>layouts/footer}}
</body>
</html>